.password-suggestions .policy-not-ready {
  color: red;
  margin-left: 30px;
}
.password-suggestions .tooShort,
.password-suggestions .addUpperCase,
.password-suggestions .addNumbers {
  height: 15px;
  background: url("../images/icon_green.png") no-repeat;
  background-size: contain;
  float: left;
  width: 30px;
}

.password-confirm-result {
  margin: 20px 0;
}
.password-confirm-result .error {
  color: red;
}
.password-confirm-result .ok {
  color: green;
}
